* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	background-color: rgba(151, 161, 161, 0.199);
	position: relative;
}
.calculator {
	backdrop-filter: blur(200px);
	filter: blur();
	box-shadow: 0px 0px 15px 6px#adaba8;
	border-radius: 20px;
	overflow: hidden;
	background: white;
	transition: all 0.3s ease;
}
.hidden {
	display: none;
}
.display_container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 10rem;
	padding: 10px;
	box-shadow: 0px 0px 15px 6px #adaba8;
}
.display {
	max-width: 22rem;
	background: transparent;
	border: none;
	text-align: right;
	font-size: 40px;
	color: black;
}
.display-label {
	display: none;
}
.display:focus {
	outline: none;
}
.keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	box-shadow: 0px 0px 2px 0px #adaba8;
	height: 100%;
}
.btn_keys {
	font-size: 30px;
	padding: 1rem;
	background: white;
	border: none;
}
button:nth-child(-n + 4) {
	color: orangered;
	font-size: 25px;
	font-weight: 600;
}
button:nth-child(4n) {
	color: orangered;
	font-weight: 600;
}

.recycle {
	color: orangered;
}
button:nth-child(20) {
	background: orangered;
	color: white;
	align-self: center;
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

/* show calculator */
#toggle_calc_btn {
	position: fixed;
	top: 20px;
	right: 20px;

	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;

	background: orangered;
	color: white;

	font-size: 30px;
	font-weight: 700;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
	z-index: 1;

	transition: all 0.2s ease;
}

#toggle_calc_btn:hover {
	transform: scale(1.05);
}
